body{
    margin:0;
    text-align:center;
    
}
header{
    background-color:#E4F9F5;
}
div.top{
    background-color:#E4F9F5;
    width:100%;
    height:100%;
    padding:10px;
    position:relative;
    color:#66BFBF;
}
h1{
    font-family: 'Sacramento', 'cursive';
    font-size:14vh;
    margin:2vh;
}
img[alt="myself"]{
    padding-top:8em;
}
h2{ 
    
    color:#66BFBF;
    font-family: 'Montserrat', sans-serif;

}
p{
font-family: 'Montserrat', sans-serif;
}
.top h2{
    font-weight:normal;
}
h3{
    color:#11999E;
    font-family: 'Montserrat', sans-serif;

}

img[alt="mount"]{
    margin-top:3vh;
    width:45%;
}
img.ucloud{
   
    position: relative;
    left:180px;
    padding-top: 10px;

}
img.dcloud{
    position:absolute;

}

div.profile{
margin:auto;
text-align: center;
line-height: 2;
width:75%;
}
div.profile p {
    width:30%;
    margin-left: auto;
    margin-right: auto;
    line-height:40px;

}
img[alt="myself"]{
    width:300px;
    height: 300px;
    border-radius:200px;

}
img[alt=programming]{
    float:left;
    width:300px;
    height:300px;
    position:relative;
    
}

hr{
   display: none;
}

header{
display: flex;
box-sizing:border-box;
justify-content: flex-end;
margin:0;
padding: 0.5% 7%;
   
}

.nav li{
    list-style:none;
    display:inline-block;
    padding:0 1.7rem;
}
li,a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size:1.3rem;
    color:#66BFBF;
    text-decoration:none;
    }
.footer{
    display: flex;
    box-sizing:border-box;
    justify-content:center;
    margin:0;
    padding:1em;
    background-color:#E4FBFF; 
    color:#11999E;
    height:10em;
}

.footer a{
    padding:1.5em 2.5em;
    color:#11999E;
}
.skills {
    width:70%;
    padding:5em 0em;
    line-height:2;
    margin:auto;
    text-align:left;
}
.tech img{
    height:90px;
    width:90px;
}
h2{
    text-align: center;
}
.tech{
    display:flex;
    justify-content: space-evenly;
    padding-top:3.5em;
}
.contact-me h2{
    text-align: center;
    margin-bottom: 1.3em;
}
.contact-me{
    text-align: center;
    margin-bottom: 3em ;
    line-height:2;
}
#btn a{
    margin-top: 3em;
}
.h{
    margin-top: 3em;
    margin-bottom:2em;
     
}
img[alt="co0ming soon"]{

}

.flink img{

}